header{
    text-align: center;
    margin-top: 50px;;
}
.container{
    text-align: center;
    margin-top: 150px;
}
.row{
    text-align: center;
    font-style: italic;
    font-size: 24px;
}